### Time Series Example

In [1]:
import datapot as dp

/home/yury/anaconda3/lib/python3.5/site-packages/gensim/utils.py:1015: UserWarning: Pattern library is not installed, lemmatization won't be available.
  warnings.warn("Pattern library is not installed, lemmatization won't be available.")

In [2]:
f = open("../data/temp.json", 'r')

In [3]:
data = dp.DataPot()
data.fit(f, limit=100)
df = data.transform(f, verbose=True)
df.head(n=10)

fit transformers...
fit transformers...OK
num of new features: 1046

,amount.447,amount.133,amount.769,amount.763,amount.908,amount.464,amount.929,amount.167,amount.498,amount.474,...,amount.62,amount.555,amount.961,amount.627,amount.684,amount.383,amount.927,amount.950,amount.87,amount.511
0,-5614.79,-11326.15,-7478.90,-10769.39,NaN,-7852.84,NaN,-42672.40,-2908.46,-4379.54,...,-22436.70,112295.79,NaN,-4065.11,-1617.06,-2111.16,NaN,NaN,-20213.24,-1055.58
1,-2245.92,-1078.04,NaN,NaN,NaN,-44918.32,NaN,-2245.92,-28747.72,-51656.06,...,22459.16,NaN,NaN,NaN,NaN,-44918.32,NaN,NaN,35934.65,-44918.32
2,NaN,-2245.92,NaN,NaN,NaN,NaN,NaN,-2852.31,NaN,NaN,...,-20213.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-22459.16,NaN
3,NaN,-1617.06,NaN,NaN,NaN,NaN,NaN,-77484.09,NaN,NaN,...,-7366.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3413.79,NaN
4,-830.99,-13475.49,-2245.92,-119033.54,-381.81,-101066.21,-67.38,-5480.03,-17967.33,-224591.58,...,-1909.03,-2335.75,-1805.72,-336.89,-628.86,-2245.92,-2245.92,-4536.75,-136372.01,-1527.22
5,-291969.05,-8983.66,-26950.99,-7341.90,NaN,-44918.32,NaN,-3579.32,-11162.20,-22459.16,...,-72161.27,224591.58,NaN,22459.16,-224591.58,-1122957.89,NaN,NaN,-7265.54,-224.59
6,-11004.76,-15721.41,56147.89,-5226.25,-8983.66,-12290.32,-2028.74,-8163.90,2245.92,-24705.07,...,-8983.66,-20213.24,-5906.53,-16844.37,-67377.47,-39283.99,-6737.75,-31442.82,-3368.87,89836.63
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-11229.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2245.92,NaN

In [4]:
data

DataPot class instance
 - number of features without transformation: 1046
 - number of new features: 1046
features to transform: