### Dataset with timestamp features.

Creating the DataPot object.

In [1]:
import datapot as dp

/home/yury/anaconda3/lib/python3.5/site-packages/gensim/utils.py:1015: UserWarning: Pattern library is not installed, lemmatization won't be available.
  warnings.warn("Pattern library is not installed, lemmatization won't be available.")

In [2]:
datapot = dp.DataPot()

In [3]:
from datapot.utils import csv_to_jsonlines

csv_to_jsonlines('/home/yury/transactions.csv', '/home/yury/transactions.jsonlines')

In [4]:
ftr = open('/home/yury/transactions.jsonlines')

Let's call the fit method. It automatically finds appropriate transformers for the fields of jsonlines file. The parameter 'limit' means how many objects will be used to detect the right transformers.

In [5]:
datapot.fit(ftr, limit=100)

In [6]:
datapot

DataPot class instance
 - number of features without transformation: 5
 - number of new features: 13
features to transform:
	('merchant_id', [SVDOneHotTransformer, NumericTransformer])
	('record_date', [TimestampTransformer])
	('latitude', [NumericTransformer])
	('longitude', [NumericTransformer])
	('real_transaction_dttm', [TimestampTransformer])

Let's remove the SVDOneHotTransformer

In [7]:
datapot.remove_transformer('merchant_id', 0)

In [8]:
data = datapot.transform(ftr, verbose=True)

fit transformers...
fit: ('merchant_id', [NumericTransformer])
fit: ('record_date', [TimestampTransformer])
fit: ('latitude', [NumericTransformer])
fit: ('longitude', [NumericTransformer])
fit: ('real_transaction_dttm', [TimestampTransformer])
fit transformers...OK
num of new features: 13

In [9]:
data.head()

,merchant_id_,record_date_timestamp_unixtime,record_date_timestamp_week_day,record_date_timestamp_month_day,record_date_timestamp_hour,record_date_timestamp_minute,latitude_,longitude_,real_transaction_dttm_timestamp_unixtime,real_transaction_dttm_timestamp_week_day,real_transaction_dttm_timestamp_month_day,real_transaction_dttm_timestamp_hour,real_transaction_dttm_timestamp_minute
0,178,1.488177e+09,0,27,9,30,0.000000,0.000000,1.488177e+09,0,27,9,34
1,178,1.488207e+09,0,27,17,54,55.055996,82.912991,1.488207e+09,0,27,17,49
2,178,1.488177e+09,0,27,9,31,0.000000,0.000000,1.488177e+09,0,27,9,34
3,178,1.488207e+09,0,27,17,43,55.056034,82.912734,1.488207e+09,0,27,17,49
4,178,1.488207e+09,0,27,17,45,55.056034,82.912734,1.488207e+09,0,27,17,49

In [10]:
data.columns

Index(['merchant_id_', 'record_date_timestamp_unixtime',
       'record_date_timestamp_week_day', 'record_date_timestamp_month_day',
       'record_date_timestamp_hour', 'record_date_timestamp_minute',
       'latitude_', 'longitude_', 'real_transaction_dttm_timestamp_unixtime',
       'real_transaction_dttm_timestamp_week_day',
       'real_transaction_dttm_timestamp_month_day',
       'real_transaction_dttm_timestamp_hour',
       'real_transaction_dttm_timestamp_minute'],
      dtype='object')